.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $colorOrange;
    color: $colorDarkBlue;
    font-family: $fontSpectral;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    @include no_select;
    cursor: pointer;
}

.btn:hover {
    background: $colorDarkBlue;
    color: $colorDarkBlue;
    border: 1px solid $colorOrange;
    color: $colorOrange;
}