.DS_Store
.old
.bat
.sh
.md
.bak
backups
beta
docs
tests
gulpfile.js
install.bat
readme.md
template.md
node_modules
build.js
aftc-modules-clean.js
aftc-modules-debug.js
cleanFolders.js
build.js
pnpm-lock.yaml
*.7z
*.rar
tsconfig.json
info.txt
/info
/tests